<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Audio Library</title>-->
<!--    &lt;!&ndash;    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">&ndash;&gt;-->
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #1F232A;-->
<!--            margin: 0;-->
<!--            padding: 20px;-->
<!--        }-->

<!--        .container {-->
<!--            max-width: 800px;-->
<!--            margin: 0 auto;-->
<!--            padding: 20px;-->
<!--            background-color: #fff;-->
<!--            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);-->
<!--        }-->

<!--        #searchBar {-->
<!--            width: 100%;-->
<!--            padding: 10px;-->
<!--            margin-bottom: 20px;-->
<!--            border: 1px solid #ccc;-->
<!--            border-radius: 4px;-->
<!--        }-->

<!--        .audio-item {-->
<!--            margin-bottom: 20px;-->
<!--            padding: 10px;-->
<!--            border: 1px solid #ddd;-->
<!--            border-radius: 4px;-->
<!--            background-color: #f9f9f9;-->
<!--        }-->

<!--        .audio-name {-->
<!--            font-weight: bold;-->
<!--        }-->

<!--        .audio-duration {-->
<!--            color: #555;-->
<!--        }-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <input type="text" id="searchBar" placeholder="Search..." onkeyup="filterItems()">-->
<!--    <div id="audioList">-->
<!--        {% for audio in audio_files %}-->
<!--        <div class="audio-item">-->
<!--            <p class="audio-name">{{ audio.name }}</p>-->
<!--            <p class="audio-duration">{{ audio.duration }}</p>-->
<!--            <audio controls>-->
<!--                <source src="../static/{{audio.file}}" type="audio/mpeg">-->
<!--                Your browser does not support the audio element.-->
<!--            </audio>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <audio controls>-->
<!--        <source src="../static/Résumé ORTM - 2024-05-14.mp3" type="audio/mpeg">-->
<!--        Your browser does not support the audio element.-->
<!--    </audio>-->
<!--</div>-->
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function () {-->
<!--        const searchInput = document.getElementById('search');-->
<!--        const audioCards = document.querySelectorAll('.card');-->

<!--        searchInput.addEventListener('input', function () {-->
<!--            const filter = searchInput.value.toLowerCase();-->
<!--            audioCards.forEach(card => {-->
<!--                const title = card.querySelector('.card-title').textContent.toLowerCase();-->
<!--                if (title.includes(filter)) {-->
<!--                    card.style.display = '';-->
<!--                } else {-->
<!--                    card.style.display = 'none';-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->

<!--</script>-->
<!--</body>-->
<!--</html>-->
<html lang="en">
<head>
    <title>News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news_style.css') }}">
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <style>

    </style>
</head>
<body>
<div class="container">
    <h1 class="center">Kidnapping The Princess</h1>
    {% if audios %}
    <p>{{audios}}</p>
    {% endif %}
    {% for audio in audio_files %}
    <article class="episode">
        <div class="episode__number">{{audio.date}}</div>
        <div class="episode__content">
            <div class="title">{{audio.media}}</div>
            <div class="story">
                <p>{{audio.media.split('.')[0]}}</p>
<!--                <p>-->
<!--                    <audio controls>-->
<!--                        <source src="{{ url_for('static', filename=audio.file)}}" type="audio/mpeg">-->
<!--                        Your browser does not support the audio element.-->
<!--                    </audio>-->

<!--                </p>-->
                <div>
                    <audio id="player" src="{{ url_for('static', filename=audio.file)}}"></audio>
<!--                    <input type="range" id="seek-bar" value="0" max="100">-->
                    <div class="player">
                        <div class="control">
                            <i class="fas fa-play" id="playbtn"></i>
                        </div>
                        <div class="info">
                            {{audio.file.split('.')[0]}}
                            <div class="bar">
                                <div id="progress"></div>
                            </div>
                        </div>

                        <div id="current">0:00</div>
                    </div>
                </div>


            </div>
            <div class="title">{{audio.media}}</div>
            <div class="story">
                <p>{{audio.media.split('.')[0]}}</p>
                <p>
                    <audio controls>
                        <source src="{{ url_for('static', filename=audio.file)}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </p>
            </div>
        </div>
    </article>
    <!--        <div class="audio-item">-->
    <!--            <p class="audio-name">{{ audio.name }}</p>-->
    <!--            <p class="audio-duration">{{ audio.duration }}</p>-->
    <!--            <audio controls>-->
    <!--                <source src="../static/{{audio.file}}" type="audio/mpeg">-->
    <!--                Your browser does not support the audio element.-->
    <!--            </audio>-->
    <!--        </div>-->
    {% endfor %}

    <article class="episode">
        <div class="episode__number">00</div>
        <div class="episode__content">
            <div class="title">Prologue</div>
            <div class="story">
                <p>Say hello to the perfection of Cybele- tall, gorgeous, millionaire. She’s a supermodel by day and a
                    kidnapper extraordinaire at night. When she took Princess Talia from the castle one night, the whole
                    country was sent into chaos.</p>
                <p>Princess Talia was the only successor to the throne, and her absence baffled the kingdom. Nobody knew
                    that Cybele was the culprit, and no one would be able to guess her reason for it. Only she knew.</p>
                <p>Watch Cybele, both our hero and villain for the story as she struggles to fulfill her wishes while
                    trying to keep her feelings for the Princess in check.</p>
            </div>
        </div>
    </article>

    <!--    <article class="episode">-->
    <!--        <div class="episode__number">01</div>-->
    <!--        <div class="episode__content">-->
    <!--            <div class="title">Episode 1</div>-->
    <!--            <div class="story">-->
    <!--                <p>"Let go of me you mongrel!"</p>-->
    <!--                <p>I watched in fascination as the princess struggled against the ropes binding her ankles and wrist.-->
    <!--                    She shook on the floor like a worm, her head twitching in different directions once in a while, no-->
    <!--                    doubt searching for her captor, even whilst it was covered with a black cotton pillowcase.</p>-->
    <!--                <p>"Unhand me buffoon and I'll tell my mother the queen to spare your life," she said indignantly.</p>-->
    <!--                <p>Oooh! How lovely. As if her mother the queen could help her right now. This one was charming. It-->
    <!--                    almost made me want to let go of her. Ha ha! As if. All that planning to infiltrate the castle and-->
    <!--                    kidnap her would not go to waste. But while she was in my possession, I might as well have a little-->
    <!--                    fun with her.</p>-->
    <!--                <p>"I doubt your highness will spare my life if I let you go," I said to her. She stopped squirming in-->
    <!--                    an instant. "You're a girl?" she asked with bathed breath. The corner of my mouth perked up into a-->
    <!--                    smirk. "Last time I checked yes," I told her.</p>-->
    <!--                <p>"What do you want from me? Do you want money? Power? Men? I can give you all of that." She tried to-->
    <!--                    sit but it was too much of an effort, considering she was bound like that. I stifled a smile. "I-->
    <!--                    have money," I said. "Lots of it in fact. Power comes with money, so that is not an issue. As for-->
    <!--                    men. Well let's just say that I like women more."</p>-->
    <!--                <p>"Then what do you want?" she asked in a small voice. I walked steadily to her and kneeled on the-->
    <!--                    floor. Once I did, I brought her to a sitting position and leaned to her head so I could whisper. "I-->
    <!--                    want your body."</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </article>-->

    <!--    <article class="episode">-->
    <!--        <div class="episode__number">02</div>-->
    <!--        <div class="episode__content">-->
    <!--            <div class="title">Episode 2</div>-->
    <!--            <div class="story">-->
    <!--                <p>She froze in an instant and squirmed away from me. "You're a lunatic! Jerk! You're an ugly son of a-"-->
    <!--                    I removed the cover on her head and watched her mouth slack open as she blinked in a confused daze-->
    <!--                    at me. I heard her breath hitch as she took a good look at my face. We studied each other for a-->
    <!--                    while.</p>-->
    <!--                <p>Her gray eyes took in my features. She licked her thin lips nervously and asked, "What color are your-->
    <!--                    eyes. They are the strangest green."</p>-->
    <!--                <p>I smirked at her. "They're called forest green princess." Before she could ask another question, I-->
    <!--                    took her in my arms and hauled her to the bedroom. It was not without difficulty of course. She kept-->
    <!--                    wriggling against me and even threatened to bite me. What a charming princess, I thought in-->
    <!--                    disdain.</p>-->
    <!--                <p>Once we were inside the bedroom, which would be her holding room or her cell if you want to call it-->
    <!--                    that, I set her down on the bed where she squirmed some more. I looked her in the eyes. "If you want-->
    <!--                    me to untie you, you'll stop twitching like that. You look like a maggot."</p>-->
    <!--                <p>"I am not!" she said heatedly. I clicked my tongue at her. "Sure you're not princess."</p>-->
    <!--                <p>She stared daggers at me. "Why did you kidnap me? You're a low life! You're the lowest!" she seethed.-->
    <!--                    I gave her a patronizing look. "And you're a saint princess?" I asked with a smile. "Don't ask-->
    <!--                    questions that you'll regret knowing the answer to."</p>-->
    <!--                <p>"Are you going to kill me?" she choked. </p>-->
    <!--                <p>"If I wanted to, I would have done it a long time ago. So to answer your question, no I'm not going-->
    <!--                    to kill you. But I am going to hold you here for a long time. Look around you princess. Stare at the-->
    <!--                    four corners of this room because you'll get to memorize it while you're here."</p>-->
    <!--                <p>I pointed to the windows. "Those are barred. Even if you cut that lovely honey colored hair of yours-->
    <!--                    to make a Rapunzel-like rope, you'll never escape from here." I tilted my chin to the door where she-->
    <!--                    followed with her gaze. "That is made with metal and is locked with a security code that only I know-->
    <!--                    of."</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </article>-->

    <!--    <article class="episode">-->
    <!--        <div class="episode__number">03</div>-->
    <!--        <div class="episode__content">-->
    <!--            <div class="title">Episode 3</div>-->
    <!--            <div class="story">-->
    <!--                <p>"Scream all you want," I continued. "This hideout is located miles from any town or road. No one will-->
    <!--                    ever hear you. In this little world of ours, I'm your only friend. I will feed you, talk to you when-->
    <!--                    I want to, and do things that need be. If you're not nice to me, you'll never see the daylight-->
    <!--                    again. Do you understand?"</p>-->
    <!--                <p>"I despise you," she said savagely. </p>-->
    <!--                <p>"Well I'm very sorry to hear that," I said with a shrug. "But your attitude will not help you at all-->
    <!--                    princess." I stood up and walked to the door. </p>-->
    <!--                <p>"Wait!" she called out. "Aren't you going to remove my restraints?" </p>-->
    <!--                <p>Her question made me smile to myself. "Say please," I said. Her jaw clenched. "Are you freaking-->
    <!--                    kidding me?" she said loudly. </p>-->
    <!--                <p>"I don't think her highness would appreciate your smart mouth princess." I faced her and grinned-->
    <!--                    widely. "I'll only remove that if you say please." She closed her eyes for an instant and-->
    <!--                    deliberated whether to say it or not. She thought better of it and said, "Please remove it."</p>-->
    <!--                <p>I walked back to her and leaned down so I could untie the ropes. "See? I know there's some manners-->
    <!--                    left in you," I teased. She pursed her lips and didn't reply. I knew she was angry at me for-->
    <!--                    kidnapping her and doing this. But who cares? I had my own reasons. </p>-->
    <!--                <p>My hands deftly removed the knots on the rope. Once she was untied, the princess moved her hands-->
    <!--                    around and sat on the edge of the bed. She stunned me by elbowing my stomach and running to the-->
    <!--                    direction of the door. Years of judo training kicked in. I pounced on her and pinned her to the-->
    <!--                    ground where I straddled her.</p>-->
    <!--                <p>"You shouldn't have done that," I told her. "My stomach is going to bruise. You're lucky that I don't-->
    <!--                    have a photo shoot right now." She writhed against my grip. "What are you saying? Let me go this-->
    <!--                    instant!"</p>-->
    <!--                <p>"I'm warning you princess. If you do that again, I'll rip your clothes off and let you stay here-->
    <!--                    completely naked." That made her stop. "When I release you, you're going to walk back to the bed.-->
    <!--                    Understand?" She nodded. I stood up and helped her to her feet. She headed to the direction of the-->
    <!--                    bed and sat down as instructed. </p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </article>-->
</div>
<h3 class="center"><a href="https://www.instagram.com/aristidebenoist/" target="_blank" rel="noopener noreferer">Inspired
    by Aristide Benoist</a></h3>

<script>
    let player = document.getElementById("player");
    let progress = document.getElementById("progress");
    let playbtn = document.getElementById("playbtn");

    let playpause = function () {
        if (player.paused) {
            player.play();
        } else {
            player.pause();
        }
    }

    playbtn.addEventListener("click", playpause);

    player.onplay = function () {
        playbtn.classList.remove("fa-play");
        playbtn.classList.add("fa-pause");
    }

    player.onpause = function () {
        playbtn.classList.add("fa-play");
        playbtn.classList.remove("fa-pause");
    }

    player.ontimeupdate = function () {
        let ct = player.currentTime;
        current.innerHTML = timeFormat(ct);
        //progress
        let duration = player.duration;
        let prog = Math.floor((ct * 100) / duration);
        progress.style.setProperty("--progress", prog + "%");
    }

    function timeFormat(ct) {
        let minutes = Math.floor(ct / 60);
        let seconds = Math.floor(ct % 60);

        if (seconds < 10) {
            seconds = "0" + seconds;
        }

        return minutes + ":" + seconds;
    }


    document.addEventListener('DOMContentLoaded', function() {
    const audio = document.getElementById('audio');
    const seekBar = document.getElementById('seek-bar');

    // Update seek bar as audio plays
    audio.addEventListener('timeupdate', function() {
        const value = (100 / audio.duration) * audio.currentTime;
        seekBar.value = value;
    });

    // Seek audio when seek bar is changed
    seekBar.addEventListener('input', function() {
        const time = (audio.duration / 100) * seekBar.value;
        audio.currentTime = time;
    });
});

</script>
</body>
</html>