*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #1F232A;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    margin: 0 0 13px 0;
}

a {
    color: #fff;
}

.center {
    text-align: center;
}

.container {
    width: 95%;
    max-width: 1220px;
    margin: 0 auto;
}

.episode {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
}

.episode__number {
    font-size: 2vw;
    font-weight: 700;
    padding: 10px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(3vw + 20px);
    transition: all 0.2s ease-in;
}

.episode__content {
    border-top: 2px solid #fff;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    padding: 15px 0;
}

.episode__content .title {
    font-weight: 600
}

.episode__content .story {
    line-height: 26px;
}

@media (max-width: 600px) {
    .episode__content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .episode__content .story {
        font-size: 15px;
    }
}

/* new search bar */
/*#search-container {*/
/*    background: yellow;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

#search-bar {
    width: 40%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin-bottom: 30px;
    text-align: center;
}
